.w {
    width: 1220px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ccc;
}

ul li {
    list-style: none;
}

.top-con {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top ul {
    height: 50px;
    width: 686px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav ul li {
    margin-right:20px ;
}

/* 头部结束 */
/* 轮播图开始 */


.banner-img{
    background-image: url(../images/banner_2.jpg);
    background-image: url(../images/banner_1.jpg);
    background-repeat: no-repeat;
    height: 436px;
    background-size: 100%;
}

/* 轮播结束 center开始 */
.center-nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.center-navr ul {
    width: 612px;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.center-navr ul li {
    width: 102px;
    text-align: center;
}


/* center结束，公司简介开始 */

.introduction {
    width: 300px;
    height: 150px;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

/* <!-- 文字部分开始 --> */

.center-text {
    height: 450x;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.center-textr {
    width: 712px;
    height: px;
}   


/* <!-- 第二大板块开始 --> */
/* 办公环境 */

.environment {
    height: 512px;
}

h2 {
   text-align: center;
   
}

.envie {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.envie-r ul {
    width: 580px;
    height: 310px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}

.envie-r ul li:nth-child(1),
.envie-r ul li:nth-child(3){
    margin-right: 10px;
}


/* 企业员工培训 */



.training {
    height: 470px;
}

.training ul {
    height: 470px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.training ul li {
    width: 295px;
    height: 200px;
    text-align: center;
}

.training h4 {
    color: rgb(100, 100, 233);
}

.training ul .hui {
    background-color: #ccc;
}

/* 精英团队 */

.th2 {
    margin-top: 50px;
}

.team {
    height: 560px;
}

.team ul {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team li {
    width: 340px;
    height: 500px;
    text-align: center;

}

.team li a {
    display: block;
    background-color: black;
    color: aliceblue;
    width: 180px;
    height: 50px;
    line-height: 50px;
    margin: 15px auto;

}

/* end开始 */
.end {
    height: 400px;
    background-color: black;
    padding-top: 40px;
}

.end-cen {
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.end-cen dd {
    margin: 0;
}

.lianxi {
    color: white;
}

.endp {
    text-align: center;
    color: #ccc;
}








